certifi==2022.12.7
chardet==3.0.4
distro-info==0.21
edgetpu==2.12.2
edgetpuvision==1.0
flatbuffers
httplib2==0.11.3
idna==2.6
netifaces==0.10.4
numpy==1.16.2
Pillow==5.4.1
protobuf==3.6.1
pycairo==1.16.2
pycurl==7.43.0.2
PyGObject==3.30.4
PyJWT==1.7.0
PyOpenGL==3.1.0
pyparsing==2.4.6
pyserial==3.4
PySimpleSOAP==1.16.2
python-apt==1.8.4
python-debian==0.1.35
python-debianbts==2.8.2
python-periphery==2.0.0
reportbug===7.5.3-deb10u1
requests==2.21.0
six==1.12.0
svgwrite==1.3.1
tflite==2.1.0
tflite-runtime==1.14.0
unattended-upgrades==0.1
urllib3==1.24.1
virtualenv==15.1.0
vitalsd==1.0
